.Btn {
	width: auto;
	height: 2.5rem;
	padding: 4px 10px;
	display: flex;
	gap: 8px;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	position: relative;
	transition-duration: 0.3s;
	font-size: 14px;
	background-color: light-dark(#000, #fff);
	color: light-dark(#fff, #000);
	border: 1px solid #000;
	@apply font-GilroySemibold;
}

span {
	font-weight: 100;
}

.svgIcon {
	fill: light-dark(#fff, #000);
}

.Btn:hover {
	transition-duration: 0.3s;
}

.Btn:hover .svgIcon {
	fill: light-dark(#fff, #000);
	animation: slide-in-top 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes slide-in-top {
	0% {
		transform: translateY(-10px);
		opacity: 0;
	}

	100% {
		transform: translateY(0px);
		opacity: 1;
	}
}
