---
import Footer from '@/components/Footer.astro'
import Header from '@/components/Header.astro'
import Hero from '@/components/Hero.astro'
import { getI18N } from '@/i18n'
import Layout from '@/layouts/Layout.astro'
import WhoIAm from '../WhoIAm.astro'
import TimeLine from '../TimeLine.astro'
const { currentLocale } = Astro
const i18n = getI18N({ currentLocale })
---
<Layout title={i18n.SEO.title}>
	<Header />
	<main>
		<Hero />
		<TimeLine />
		<WhoIAm />
	</main>
	<Footer />
</Layout>

<!-- <script is:inline>
	const getThemePreference = () => {
		if (typeof localStorage !== 'undefined' && localStorage.getItem('theme')) {
			return localStorage.getItem('theme')
		}
		return window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light'
	}
	const isDark = getThemePreference() === 'dark'
	document.documentElement.classList[isDark ? 'add' : 'remove']('dark')

	if (typeof localStorage !== 'undefined') {
		const observer = new MutationObserver(() => {
			const isDark = document.documentElement.classList.contains('dark')
			localStorage.setItem('theme', isDark ? 'dark' : 'light')
		})
		observer.observe(document.documentElement, { attributes: true, attributeFilter: ['class'] })
	}
</script> -->