---
import Container from '@/components/common/Container.astro'
import Typo from '@/components/styleGuide/typo.astro'
import Layout from '@/layouts/Layout.astro'
---

<Layout title='Guia de Estilo'>
	<section class='h-screen'>
		<Container>
			<div class='flex flex-col items-center pt-6 pb-10'>
				<h1
					class='font-heading -z-20 bg-linear-to-r from-[#b16cea] from-10% via-[#ff5e69] via-30% to-[#ffa84b] to-90% bg-clip-text text-4xl font-bold tracking-tight text-transparent drop-shadow-sm lg:text-7xl'
				>
					Guia de Estilo
				</h1>
				<p class='font-accent -z-20 text-center text-base font-normal md:text-xl'>
					Conoce un poco más sobre el como esta componetizado mi portafolio
				</p>
			</div>
			<div>
				<Typo />
			</div>
		</Container>
	</section>
</Layout>
