---
import { Type } from 'lucide-react'
---

<section class='relative'>
	<h2 class='flex items-center gap-x-2 pb-6 font-GilroySemibold text-3xl'>
		<Type class:list='size-6' />
		Tipografía
	</h2>
	<div class='space-y-8'>
		<div>
			<h3 class='font-GilroyBold text-7xl font-bold tracking-tight'>Titulo Principal</h3>
			<p class='font-GilroyRegular text-xl text-neutral-600'>
				Gilroy Bold / 7xl / -0.025em espaciado en letras
			</p>
		</div>
		<div>
			<h4 class='font-GilroySemibold text-5xl font-semibold'>Titulo Secundario</h4>
			<p class='font-GilroyRegular text-xl text-neutral-600'>Gilroy Semibold / 5xl</p>
		</div>
		<div>
			<h5 class='font-GilroySemibold text-2xl font-semibold tracking-tight'>Subtitulo</h5>
			<p class='font-GilroyRegular text-xl text-neutral-600'>Gilroy Semibold / 2xl</p>
		</div>
		<div>
			<p class='font-regular font-GilroyRegular text-lg'>Texto fuente</p>
			<p class='font-GilroyRegular text-xl text-neutral-600'>Gilroy Regular / lg</p>
		</div>
		<div>
			<h3 class='font-regular font-GilroyRegular text-base'>Texto pequeño</h3>
			<p class='font-GilroyRegular text-base text-neutral-600'>Gilroy Regular / base</p>
		</div>
	</div>
</section>
