---
import Type from '@/components/icons/type.astro'
---

<section>
	<h2 class='font-display flex items-center gap-x-2 pb-6 text-3xl'>
		<Type />
		Tipografía
	</h2>
	<div class='space-y-10'>
		<div>
			<h3 class='font-heading text-4xl font-bold tracking-tight md:text-7xl'>Titulo Principal</h3>
			<p class='font-accent text-base text-neutral-600 md:text-xl'>
				Gilroy Bold / 7xl / -0.025em espaciado en letras
			</p>
		</div>
		<div>
			<h4 class='font-display text-2xl font-semibold tracking-tight md:text-5xl'>
				Titulo Secundario
			</h4>
			<p class='font-accent text-base text-neutral-600 md:text-xl'>
				Gilroy Semibold / 5xl / -0.025em espaciado en letras
			</p>
		</div>
		<div>
			<h5 class='font-display text-lg font-semibold tracking-tight md:text-2xl'>Subtitulo</h5>
			<p class='font-accent text-base text-neutral-600 md:text-xl'>Gilroy Semibold / 2xl</p>
		</div>
		<div>
			<p class='font-regular font-accent text-base md:text-lg'>Texto fuente</p>
			<p class='font-accent text-base text-neutral-600 md:text-xl'>Gilroy Regular / lg</p>
		</div>
		<div>
			<h3 class='font-regular font-accent text-xs md:text-base'>Texto pequeño</h3>
			<p class='font-accent text-base text-neutral-600'>Gilroy Regular / base</p>
		</div>
	</div>
</section>
