---
import { UTCClock } from '@/components/bento/Clock'
import Education from '@/components/bento/Education.astro'
import Hobbies from '@/components/bento/Hobbies.astro'
import CurrentWeather from '@/components/bento/Weather'
import WhoIAm from '@/components/bento/WhoIAm.astro'
import Container from '@/components/common/Container.astro'
import AnimatedSection from '@/components/ui/animated-section'
import GradualSpacing from '@/components/ui/gradual-spacing'
import { getI18N } from '@/i18n'
import '@/styles/Bento.css'
import { Image } from 'astro:assets'

const { currentLocale } = Astro
const i18n = getI18N({ currentLocale })
---

<Container>
	<div class='mb-8 flex h-10 items-center justify-center pt-10'>
		<span class='font-GilroyBold text-2xl font-bold text-neutral-500 md:text-4xl'>03. &nbsp;</span>
		<GradualSpacing
			className='font-GilroyBold text-2xl font-bold text-black md:text-4xl'
			text=`${i18n.hero.moreinfo.title}`
			client:visible
		/>
		<span class='ml-[0.6em] mt-1 h-0.5 grow translate-y-full bg-neutral-400'></span>
	</div>
	<WhoIAm />
	<AnimatedSection client:visible>
		<section class='parent pt-10'>
			<article class='current-weather md:p-5'>
				<div class='flex items-center gap-x-3 px-6 pt-5 md:px-1 md:pt-0'>
					<Image
						class='h-8 w-8 select-none md:h-12 md:w-12'
						src='/svg/sun_3d.svg'
						alt='Weather'
						width={20}
						height={20}
					/>
					<h2 class='font-GilroyBold text-lg font-bold text-white md:text-2xl'>
						{i18n.hero.bento.weather.title}
					</h2>
				</div>
				<CurrentWeather client:visible />
			</article>
			<article class='div2 md:p-5'>
				<div class='flex items-center gap-x-3 px-6 pt-5 md:px-1 md:pt-0'>
					<Image
						class='h-8 w-8 select-none md:h-12 md:w-12'
						src='/svg/man_tech.svg'
						alt='Hobbies'
						width={20}
						height={20}
					/>
					<h2 class='font-GilroyBold text-lg font-bold text-black md:text-2xl'>Hobbies</h2>
				</div>
				<Hobbies />
			</article>
			<article class='current-time md:p-5'>
				<div class='flex items-center gap-x-3 px-6 pt-5 md:mb-14 md:px-1 md:pt-0'>
					<Image
						class='h-8 w-8 select-none md:h-12 md:w-12'
						src='/svg/seven_oclock.svg'
						alt='Clock'
						width={20}
						height={20}
					/>
					<h2 class='font-GilroyBold text-lg font-bold text-white md:text-2xl'>Current Time</h2>
				</div>
				<UTCClock client:load />
			</article>
			<article class='education md:p-5'>
				<div class='flex items-center gap-x-3 px-6 pt-5 md:px-1 md:pt-0'>
					<Image
						class='h-8 w-8 select-none md:h-12 md:w-12'
						src='/svg/graduation_cap_3d.svg'
						alt='Graduation Cap'
						width={20}
						height={20}
					/>
					<h2 class='font-GilroyBold text-lg font-bold text-black md:text-2xl'>Education</h2>
				</div>
				<Education />
			</article>
		</section>
	</AnimatedSection>
</Container>
