---
import Container from '@/components/common/Container.astro'
import Contact from '@/components/contact/Contact.astro'
import GradualSpacing from '@/components/ui/gradual-spacing'
---

<Container>
	<div class='mb-8 flex h-10 items-center justify-center pt-10'>
		<span class='font-heading text-2xl font-bold text-neutral-500 md:text-4xl'>04. &nbsp;</span>
		<GradualSpacing
			className='font-heading text-2xl font-bold text-black md:text-4xl'
			text='Ready for work together?'
			client:visible
		/>
		<span class='mt-1 ml-[0.6em] h-0.5 grow translate-y-full bg-neutral-400'></span>
	</div>
	<div>
		<Contact />
	</div>
</Container>
