---
import Header from "@/components/Header.astro"
import Hero from "@/components/Hero.astro"
import Layout from "@/layouts/Layout.astro"
---

<Layout title="Fabian Herrera - Desarrollador Web con más 2 años de experiencia.">
	<Header />
	<main>
		<Hero />
	</main>
</Layout>
