---
import Footer from '@/components/Footer.astro'
import Header from '@/components/Header.astro'
import Layout from '@/layouts/Layout.astro'
---

<Layout title='Guia de Estilo'>
	<Header />
	<main class='h-[435px]'>
		<div class='flex flex-col items-center justify-center gap-y-4 pt-32'>
			<h1 class='font-GilroyBold text-5xl'>Working on this page 🛠</h1>
			<a href='/' class='font-GilroyRegular text-2xl underline'>Return to Home</a>
		</div>
	</main>
	<Footer />
</Layout>
