---
import Layout from '@/layouts/Layout.astro'
import Header from '@/components/Header.astro'
import Footer from '@/components/Footer.astro'
---

<Layout title="Guia de Estilo">
	<Header />
	<main class="h-[435px]">
		<div class="flex items-center justify-center flex-col gap-y-4 pt-32">
			<h1 class="text-5xl font-GilroyBold">Working on this page 🛠</h1>
			<a href="/" class="font-GilroyRegular underline text-2xl">Return to Home</a>
		</div>
	</main>
	<Footer />
</Layout>