---
import Container from '@/components/Container.astro'
import GradualSpacing from '@/components/ui/gradual-spacing'
import WhoIAm from '@/components/WhoIAm.astro'
import { getI18N } from '@/i18n'
import '../styles/Bento.css'
import AnimatedSection from './ui/animated-section'

const { currentLocale } = Astro
const i18n = getI18N({ currentLocale })
---

<Container>
	<div class='mb-8 flex h-10 items-center justify-center pt-10'>
		<span class='font-GilroyBold text-2xl font-bold text-neutral-500 md:text-4xl'>03. &nbsp;</span>
		<GradualSpacing
			className='font-GilroyBold text-2xl font-bold text-black md:text-4xl'
			text=`${i18n.hero.moreinfo.title}`
			client:visible
		/>
		<span class='ml-[0.6em] mt-1 h-0.5 grow translate-y-full bg-neutral-400'></span>
	</div>
	<WhoIAm />
	<AnimatedSection client:visible>
		<section class='parent pt-10'>
			<article class='div1'>Working in these sections, stay tuned!</article>
			<article class='div2'>Working in these sections, stay tuned!</article>
			<article class='div3'>Working in these sections, stay tuned!</article>
			<article class='div4'>Working in these sections, stay tuned!</article>
		</section>
	</AnimatedSection>
</Container>
