---
import '../styles/Bento.css'
import Container from '@/components/Container.astro'
import GradualSpacing from '@/components/ui/gradual-spacing'
import WhoIAm from '@/components/WhoIAm.astro'
---
<Container>
	<div class='flex h-10 pt-10 mb-8 justify-center items-center'>
		<span class='md:text-4xl font-GilroyBold text-2xl font-bold text-neutral-500'>03. &nbsp;</span>
		<GradualSpacing
			className="md:text-4xl  font-GilroyBold text-2xl font-bold text-black"
			text="More about me"
			client:visible
		/>
		<span class="ml-[0.6em] mt-1 h-0.5 grow translate-y-full bg-neutral-400"></span>
	</div>
	<WhoIAm />
	<section class="parent pt-10">
		<div class="div1"> </div>
		<div class="div2"> </div>
		<div class="div3"> </div>
		<div class="div4"> </div>
	</section>
</Container>
