---
import Container from '@/components/Container.astro'
import { sanitizeHtml } from '@/helpers/satinizeHTML'

import { getI18N } from '@/i18n/index'
import { getLangFromUrl, useTranslatedPath, useTranslations } from '@/i18n/utils'

const { currentLocale } = Astro
const i18n = getI18N({ currentLocale })

const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)
const translatePath = useTranslatedPath(lang)
---

<footer class='bg-white pt-16'>
	<Container>
		<div
			class='relative mx-auto max-w-screen-xl border-t border-neutral-200 px-4 py-16 sm:px-6 lg:px-8 lg:pt-24'
		>
			<div class='lg:flex lg:items-end lg:justify-between'>
				<div>
					<div class='flex justify-center lg:justify-start'>
						<h4 class='font-GilroyBold text-2xl tracking-tight text-black'>
							Fabian Herrera
							<span
								class='bg-gradient-to-r from-[#b16cea] from-10% via-[#ff5e69] via-30% to-[#ffa84b] to-90% bg-clip-text font-GilroyBold tracking-tight text-transparent'
								>.
							</span>
						</h4>
					</div>

					<p
						class='text-gray-500 mx-auto mt-6 max-w-md text-center font-GilroyRegular leading-relaxed lg:text-left'
					>
						(writing some incredible stuff here)
					</p>
				</div>

				<ul
					class='text-gray-500 mb-6 mt-6 flex flex-wrap items-center justify-center font-GilroySemibold text-base sm:mb-0 md:mt-0'
				>
					<li>
						<a
							class='group relative me-4 before:absolute before:inset-x-0 before:bottom-0 before:h-[2px] before:origin-right before:scale-x-0 before:bg-[#ff5e69] before:transition before:duration-200 hover:before:origin-left hover:before:scale-x-100 md:me-6'
							href='#'
						>
							{t('footer.about')}
						</a>
					</li>

					<li>
						<a
							class='group relative me-4 before:absolute before:inset-x-0 before:bottom-0 before:h-[2px] before:origin-right before:scale-x-0 before:bg-[#b16cea] before:transition before:duration-200 hover:before:origin-left hover:before:scale-x-100 md:me-6'
							href='#'
						>
							{t('footer.blog')}
						</a>
					</li>

					<li>
						<a
							class='group relative me-4 before:absolute before:inset-x-0 before:bottom-0 before:h-[2px] before:origin-right before:scale-x-0 before:bg-[#ff5e69] before:transition before:duration-200 hover:before:origin-left hover:before:scale-x-100 md:me-6'
							href='#'
						>
							{t('footer.projects')}
						</a>
					</li>

					<li>
						<a
							class='group relative me-4 before:absolute before:inset-x-0 before:bottom-0 before:h-[2px] before:origin-right before:scale-x-0 before:bg-[#b16cea] before:transition before:duration-200 hover:before:origin-left hover:before:scale-x-100 md:me-6'
							href='#'
						>
							{t('footer.style')}
						</a>
					</li>
				</ul>
			</div>

			<p
				class='mt-12 text-balance text-center font-GilroyRegular text-base font-medium lg:text-right'
				set:html={sanitizeHtml(t('footer.small'))}
			/>
		</div>
	</Container>
</footer>
