---
import Container from './Container.astro'

import { getI18N } from '@/i18n/index'
import { getLangFromUrl, useTranslatedPath, useTranslations } from '@/i18n/utils'

const { currentLocale } = Astro
const i18n = getI18N({ currentLocale })

const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)
const translatePath = useTranslatedPath(lang)
---

<footer class='bg-white'>
	<Container>
		<div class='mx-auto w-full md:py-8'>
			<div class='sm:flex sm:items-center sm:justify-between'>
				<div class='flex flex-col'>
					<div>
						<h4 class='font-GilroyBold text-2xl tracking-tight text-black dark:text-white'>
							Fabian Herrera
							<span
								class='bg-gradient-to-r from-[#b16cea] from-10% via-[#ff5e69] via-30% to-[#ffa84b] to-90% bg-clip-text font-GilroyBold tracking-tight text-transparent'
								>.
							</span>
						</h4>
					</div>
				</div>
				<ul
					class='text-gray-500 dark:text-gray-400 mb-6 flex flex-wrap items-center font-GilroyRegular text-base sm:mb-0'
				>
					<li>
						<a
							href='#'
							class='group relative me-4 before:absolute before:inset-x-0 before:bottom-0 before:h-[2px] before:origin-right before:scale-x-0 before:bg-[#ff5e69] before:transition before:duration-200 hover:before:origin-left hover:before:scale-x-100 md:me-6'
							>{t('footer.about')}</a
						>
					</li>
					<li>
						<a
							href='#'
							class='group relative me-4 before:absolute before:inset-x-0 before:bottom-0 before:h-[2px] before:origin-right before:scale-x-0 before:bg-[#b16cea] before:transition before:duration-200 hover:before:origin-left hover:before:scale-x-100 md:me-6'
							>{t('footer.blog')}</a
						>
					</li>
					<li>
						<a
							href='#'
							class='group relative me-4 before:absolute before:inset-x-0 before:bottom-0 before:h-[2px] before:origin-right before:scale-x-0 before:bg-[#ff5e69] before:transition before:duration-200 hover:before:origin-left hover:before:scale-x-100 md:me-6'
							>{t('footer.projects')}</a
						>
					</li>
					<li>
						<a
							href='#'
							class='group relative me-4 before:absolute before:inset-x-0 before:bottom-0 before:h-[2px] before:origin-right before:scale-x-0 before:bg-[#b16cea] before:transition before:duration-200 hover:before:origin-left hover:before:scale-x-100 md:me-6'
							>{t('footer.style')}</a
						>
					</li>
				</ul>
			</div>
			<hr class='border-gray-200 dark:border-gray-700 my-6 sm:mx-auto lg:my-8' />
			<span class='font-GilroyRegular font-medium text-sm py-4'>
				{t('footer.small')}
			</span>
		</div>
	</Container>
</footer>
