---
import Container from "./Container.astro"
import HeaderLink from "./HeaderLink.astro"
import LangSelector from "./LangSelector.astro"

import { getI18N } from "@/i18n/index"
import { getLangFromUrl, useTranslatedPath, useTranslations } from "@/i18n/utils"

const { currentLocale } = Astro
const i18n = getI18N({ currentLocale })

const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)
const translatePath = useTranslatedPath(lang)
---

<script>
	let isToggled = false
	const navlinks = document.querySelector("#navlinks")
	const hamburger = document.querySelector("#hamburger")
	const layer = document.querySelector("#navLayer")
	const links = [...navlinks.querySelector("ul").children]

	function toggleNavlinks() {
		if (isToggled) {
			navlinks.classList.add("!visible", "!scale-100", "!opacity-100", "!lg:translate-y-0")
			hamburger.classList.add("toggled")
			// layer.classList.add("origin-top", "scale-y-100", "backdrop-blur-lg");
		} else {
			navlinks.classList.remove("!visible", "!scale-100", "!opacity-100", "!lg:translate-y-0")
			hamburger.classList.remove("toggled")
			// layer.classList.remove("origin-top", "scale-y-100", "backdrop-blur-lg");
		}
	}
	hamburger.addEventListener("click", () => {
		isToggled = !isToggled
		toggleNavlinks()
	})

	links.forEach((link) => {
		link.addEventListener("click", () => {
			isToggled = !isToggled
			toggleNavlinks()
		})
	})
</script>

<header>
	<nav
		class="z-20 w-full select-none border-b border-black/5 bg-white/[0.01] pt-0 backdrop-blur-lg dark:border-white/5 lg:border-transparent"
	>
		<Container>
			<div class="flex w-full flex-wrap items-center justify-between gap-6 py-3 md:gap-0 md:py-4">
				<div class="z-20 flex w-full justify-between md:px-0">
					<HeaderLink
						checkActive={false}
						href={translatePath("/")}
						aria-label="logo"
						class="fill-current flex w-full items-center space-x-2 text-black dark:text-white"
					>
						<svg
							xmlns="http://www.w3.org/2000/svg"
							xmlns:xlink="http://www.w3.org/1999/xlink"
							width="500"
							zoomAndPan="magnify"
							viewBox="0 0 375 374.999991"
							height="500"
							preserveAspectRatio="xMidYMid meet"
							version="1.0"
							class="size-14"
						>
							<defs>
								<g></g>
								<clipPath id="64a9c4b846">
									<path d="M 306 264 L 327 264 L 327 288 L 306 288 Z M 306 264 " clip-rule="nonzero"
									></path>
								</clipPath>
								<clipPath id="3670c81456">
									<path
										d="M 316.511719 291.753906 L 301.199219 278.105469 L 316.796875 260.601562 L 332.109375 274.25 Z M 316.511719 291.753906 "
										clip-rule="nonzero"></path>
								</clipPath>
								<clipPath id="466b63b571">
									<path
										d="M 316.511719 291.753906 L 301.199219 278.105469 L 316.796875 260.601562 L 332.109375 274.25 Z M 316.511719 291.753906 "
										clip-rule="nonzero"></path>
								</clipPath>
							</defs>
							<g fill="currentColor" fill-opacity="1">
								<g transform="translate(214.107747, 330.489721)">
									<g>
										<path
											d="M 10.125 0 C 19.9375 0 21.875 -8.1875 21.875 -15.78125 L 21.875 -22.46875 C 21.875 -35.71875 29.3125 -48.078125 37.953125 -48.078125 C 41.375 -48.078125 43.609375 -46.28125 43.609375 -42.859375 C 43.609375 -36.765625 36.609375 -26.78125 36.609375 -15.484375 C 36.609375 -7.140625 39.890625 0 49.703125 0 C 69.796875 0 79.921875 -28.875 84.6875 -37.0625 C 86.3125 -39.890625 80.359375 -44.34375 77.984375 -40.78125 C 75.015625 -36.3125 72.1875 -33.1875 67.71875 -33.1875 C 62.953125 -33.1875 60.875 -35.5625 60.875 -40.625 C 60.875 -48.078125 65.640625 -52.828125 65.640625 -60.71875 C 65.640625 -68.15625 61.3125 -74.40625 52.234375 -74.40625 C 45.6875 -74.40625 39.734375 -71.28125 34.234375 -65.9375 C 30.953125 -62.65625 28.578125 -63.25 30.21875 -69.359375 C 32 -76.34375 37.203125 -84.390625 41.078125 -93.015625 C 45.390625 -102.546875 43.609375 -107 37.5 -107 C 25.453125 -107 18.609375 -84.234375 3.578125 -40.78125 C 0.59375 -32.296875 -1.484375 -22.921875 -1.484375 -15.328125 C -1.484375 -6.546875 1.484375 0 10.125 0 Z M 10.125 0 "
										>
										</path>
									</g>
								</g>
							</g>
							<g clip-path="url(#64a9c4b846)">
								<g clip-path="url(#3670c81456)">
									<g clip-path="url(#466b63b571)">
										<path
											fill="currentColor"
											d="M 309.414062 285.425781 C 309.761719 285.734375 310.171875 286.039062 310.714844 286.398438 C 311.261719 286.761719 311.898438 287.019531 312.496094 287.183594 C 313.058594 287.3125 313.621094 287.378906 314.082031 287.417969 L 314.046875 287.386719 L 314.113281 287.382812 L 314.175781 287.378906 L 314.308594 287.371094 L 314.34375 287.402344 L 314.277344 287.40625 L 314.34375 287.402344 C 314.804688 287.441406 315.128906 287.421875 315.457031 287.40625 C 315.847656 287.382812 316.203125 287.328125 316.527344 287.246094 C 316.949219 287.1875 317.398438 287.03125 317.949219 286.902344 C 318.527344 286.738281 318.945312 286.550781 319.328125 286.394531 C 319.773438 286.171875 320.117188 285.859375 320.492188 285.574219 C 320.589844 285.539062 320.652344 285.535156 320.75 285.496094 L 320.847656 285.457031 C 321.164062 285.308594 321.484375 285.160156 321.800781 285.007812 C 322.40625 284.679688 322.9375 284.222656 323.40625 283.835938 C 323.808594 283.453125 324.183594 283.105469 324.480469 282.628906 C 324.785156 282.21875 325.148438 281.671875 325.472656 281.03125 C 325.761719 280.425781 325.960938 279.859375 326.089844 279.292969 C 326.269531 278.398438 326.414062 277.472656 326.554688 276.550781 C 326.574219 276.320312 326.625 276.054688 326.644531 275.824219 C 326.832031 274.503906 326.898438 273.386719 326.773438 272.34375 C 326.710938 271.855469 326.640625 271.171875 326.4375 270.496094 C 326.242188 269.953125 326.011719 269.375 325.652344 268.808594 C 325.140625 267.917969 324.441406 267.109375 323.574219 266.273438 C 323.46875 266.183594 323.402344 266.121094 323.296875 266.027344 C 322.953125 265.71875 322.46875 265.289062 321.863281 264.996094 C 321.695312 264.910156 321.53125 264.886719 321.359375 264.796875 C 321.296875 264.800781 321.226562 264.738281 321.160156 264.742188 C 321.0625 264.714844 320.960938 264.6875 320.863281 264.660156 C 320.5625 264.582031 320.261719 264.5 319.964844 264.417969 C 319.332031 264.289062 318.644531 264.230469 318.085938 264.230469 C 317.53125 264.230469 316.976562 264.296875 316.488281 264.355469 C 315.839844 264.460938 315.257812 264.625 314.644531 264.757812 C 314.066406 264.921875 313.488281 265.152344 312.855469 265.515625 C 312.378906 265.773438 311.972656 266.089844 311.5625 266.40625 C 311.058594 266.765625 310.558594 267.1875 310.09375 267.636719 C 309.628906 268.089844 309.195312 268.507812 308.890625 268.917969 C 308.523438 269.332031 308.226562 269.875 307.933594 270.480469 C 307.699219 270.953125 307.53125 271.484375 307.398438 271.984375 C 307.339844 272.121094 307.3125 272.21875 307.253906 272.355469 C 307.058594 272.921875 306.894531 273.457031 306.757812 273.953125 C 306.625 274.519531 306.492188 275.015625 306.390625 275.546875 C 306.285156 276.011719 306.191406 276.605469 306.09375 277.203125 C 306.027344 277.761719 306 278.417969 306.035156 279.070312 C 306.070312 279.660156 306.203125 280.273438 306.367188 280.855469 C 306.53125 281.433594 306.859375 281.972656 307.082031 282.417969 C 307.332031 282.828125 307.621094 283.269531 308.007812 283.738281 C 308.46875 284.335938 308.855469 284.804688 309.269531 285.171875 C 309.277344 285.304688 309.347656 285.363281 309.414062 285.425781 "
											fill-opacity="1"
											fill-rule="nonzero"></path>
									</g>
								</g>
							</g>
							<g fill="currentColor" fill-opacity="1">
								<g transform="translate(54.394196, 314.442805)">
									<g>
										<path
											d="M 275.09375 -276.5 C 266.3125 -276.5 254.015625 -272.625 228.71875 -272.625 C 204.46875 -272.625 189.71875 -275.4375 157.046875 -275.4375 C 64.640625 -275.4375 13.703125 -232.9375 13.703125 -183.046875 C 13.703125 -157.390625 28.8125 -134.203125 57.625 -134.203125 C 91.703125 -134.203125 109.96875 -164.421875 103.640625 -179.875 C 95.90625 -179.875 90.296875 -186.90625 90.296875 -196.390625 C 90.296875 -218.875 118.390625 -228.359375 149.671875 -228.359375 C 189.71875 -228.359375 200.25 -210.09375 233.28125 -210.09375 C 269.125 -210.09375 288.796875 -235.03125 288.796875 -262.09375 C 288.796875 -271.578125 285.625 -276.5 275.09375 -276.5 Z M 217.828125 -145.453125 C 210.09375 -145.453125 198.5 -145.09375 183.390625 -144.75 C 188.3125 -159.15625 193.234375 -173.90625 198.15625 -189.71875 C 202.015625 -201.3125 197.453125 -208.6875 181.984375 -208.6875 C 171.453125 -208.6875 163.71875 -204.125 159.15625 -191.828125 C 153.171875 -177.0625 147.203125 -160.203125 141.234375 -144.046875 L 126.484375 -144.046875 C 112.078125 -144.046875 105.75 -136.3125 105.75 -126.125 C 105.75 -118.75 109.265625 -113.125 117.6875 -113.125 C 120.859375 -113.125 124.015625 -112.78125 127.53125 -112.421875 C 109.96875 -83.265625 86.078125 -71.3125 67.8125 -71.3125 C 47.78125 -71.3125 34.4375 -81.859375 34.4375 -97.3125 C 34.4375 -99.78125 31.96875 -101.53125 29.15625 -101.53125 C 1.046875 -101.53125 -17.5625 -73.078125 -17.5625 -44.265625 C -17.5625 -15.109375 1.75 14.75 50.59375 14.75 C 94.5 14.75 132.09375 -14.40625 158.796875 -78.34375 C 162.671875 -87.125 166.171875 -96.265625 169.34375 -105.40625 C 178.46875 -104.34375 188.3125 -103.640625 199.546875 -103.640625 C 224.140625 -103.640625 235.03125 -120.5 235.03125 -132.453125 C 235.03125 -139.828125 231.875 -145.453125 217.828125 -145.453125 Z M 217.828125 -145.453125 "
										>
										</path>
									</g>
								</g>
							</g>
						</svg>
					</HeaderLink>

					<div class="relative flex max-h-10 w-full items-center justify-end pr-4 lg:hidden">
						<button
							aria-label="humburger"
							id="hamburger"
							class="relative -mr-6 mt-4 flex flex-col justify-center p-6"
						>
							<div
								aria-hidden="true"
								id="line"
								class="m-auto h-0.5 w-5 rounded-md bg-black transition duration-300 dark:bg-white"
							>
							</div>
							<div
								aria-hidden="true"
								id="line2"
								class="m-auto mt-2 h-0.5 w-5 rounded-lg bg-black transition duration-300 dark:bg-white"
							>
							</div>
						</button>
					</div>
					<!-- <div id="navLayer" aria-hidden="true" class="fixed inset-0 z-10 h-screen w-screen origin-bottom scale-y-0 backdrop-blur-lg transition duration-500 dark:bg-gray-100/10 lg:hidden"></div> -->
					<div
						id="navlinks"
						class="invisible absolute left-0 top-full z-20 h-96 w-full origin-top-right translate-y-1 scale-90 flex-col flex-wrap justify-end gap-6 rounded-3xl bg-neutral-300 p-8 opacity-0 shadow-2xl transition-all duration-300 dark:bg-transparent dark:shadow-none lg:visible lg:relative lg:flex lg:h-auto lg:w-full lg:translate-y-0 lg:scale-100 lg:flex-row lg:items-center lg:gap-0 lg:border-none lg:bg-transparent lg:p-0 lg:opacity-100 lg:shadow-none"
					>
						<div class="text-gray-600 w-full lg:w-max lg:pr-4 lg:pt-0">
							<ul
								class="flex flex-col items-center justify-end gap-6 tracking-wide lg:flex-row lg:gap-0 lg:text-base"
							>
								<li>
									<a
										href=""
										class="block font-GilroySemibold text-base text-black transition-colors hover:text-neutral-300 dark:text-white md:px-4"
									>
										<span>{t("nav.about")}</span>
									</a>
								</li>
								<li>
									<a
										href=""
										class="block font-GilroySemibold text-base text-black transition-colors hover:text-neutral-300 dark:text-white md:px-4"
									>
										<span>{t("nav.projects")}</span>
									</a>
								</li>
								<li>
									<a
										href=""
										class="block font-GilroySemibold text-base text-black transition-colors hover:text-neutral-300 dark:text-white md:px-4"
									>
										<span>{t("nav.skills")}</span>
									</a>
								</li>
								<li>
									<a
										href=""
										class="block font-GilroySemibold text-base text-black transition-colors hover:text-neutral-300 dark:text-white md:px-4"
									>
										<span>{t("nav.contact")}</span>
									</a>
								</li>
								<li>
									<LangSelector />
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</Container>
	</nav>

	<style>
		#toggle_nav:checked ~ div #hamburger #line {
			@apply translate-y-1.5 rotate-45;
		}

		#toggle_nav:checked ~ div #hamburger #line2 {
			@apply -translate-y-1 -rotate-45;
		}

		.toggled div:first-child {
			@apply translate-y-1.5 rotate-45;
		}
		.toggled div:last-child {
			@apply -translate-y-1 -rotate-45;
		}
	</style>
</header>
