---
import { Image } from "astro:assets"
import Container from "./Container.astro"
import HeaderLink from "./HeaderLink.astro"
import LangSelector from "./LangSelector.astro"

import { getI18N } from "@/i18n/index"
import { getLangFromUrl, useTranslatedPath, useTranslations } from "@/i18n/utils"

const { currentLocale } = Astro
const i18n = getI18N({ currentLocale })

const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)
const translatePath = useTranslatedPath(lang)
---

<script>
	let isToggled = false
	const navlinks = document.querySelector("#navlinks")
	const hamburger = document.querySelector("#hamburger")
	const layer = document.querySelector("#navLayer")
	const links = [...navlinks.querySelector("ul").children]

	function toggleNavlinks() {
		if (isToggled) {
			navlinks.classList.add("!visible", "!scale-100", "!opacity-100", "!lg:translate-y-0")
			hamburger.classList.add("toggled")
			// layer.classList.add("origin-top", "scale-y-100", "backdrop-blur-lg");
		} else {
			navlinks.classList.remove("!visible", "!scale-100", "!opacity-100", "!lg:translate-y-0")
			hamburger.classList.remove("toggled")
			// layer.classList.remove("origin-top", "scale-y-100", "backdrop-blur-lg");
		}
	}
	hamburger.addEventListener("click", () => {
		isToggled = !isToggled
		toggleNavlinks()
	})

	links.forEach((link) => {
		link.addEventListener("click", () => {
			isToggled = !isToggled
			toggleNavlinks()
		})
	})
</script>

<header>
	<nav
		class="fixed z-10 w-full select-none border-b border-black/5 bg-white/[0.01] pt-0 backdrop-blur-lg lg:border-transparent dark:border-white/5"
	>
		<Container>
			<div class="flex w-full flex-wrap items-center justify-between gap-6 py-3 md:gap-0 md:py-4">
				<div class="z-20 flex w-full justify-between md:px-0">
					<HeaderLink
						checkActive={false}
						href={translatePath("/")}
						aria-label="logo"
						class="flex w-full items-center space-x-2"
					>
						<Image
							alt="Fabian Herrera Logo"
							src="/svg/dark-logo.svg"
							width="50"
							height="70"
							style="max-width: 100%;"
						/>
					</HeaderLink>

					<div class="relative flex max-h-10 w-full items-center justify-end pr-4 lg:hidden">
						<button
							aria-label="humburger"
							id="hamburger"
							class="relative -mr-6 mt-4 flex flex-col justify-center p-6"
						>
							<div
								aria-hidden="true"
								id="line"
								class="m-auto h-0.5 w-5 rounded bg-black transition duration-300"
							>
							</div>
							<div
								aria-hidden="true"
								id="line2"
								class="m-auto mt-2 h-0.5 w-5 rounded bg-black transition duration-300"
							>
							</div>
						</button>
					</div>
					<!-- <div id="navLayer" aria-hidden="true" class="fixed inset-0 z-10 h-screen w-screen origin-bottom scale-y-0 backdrop-blur-lg transition duration-500 dark:bg-gray-100/10 lg:hidden"></div> -->
					<div
						id="navlinks"
						class="dark:bg-darker invisible absolute left-0 top-full z-20 h-96 w-full origin-top-right translate-y-1 scale-90 flex-col flex-wrap justify-end gap-6 rounded-3xl bg-gray-300 p-8 opacity-0 shadow-2xl transition-all duration-300 lg:visible lg:relative lg:flex lg:h-auto lg:w-full lg:translate-y-0 lg:scale-100 lg:flex-row lg:items-center lg:gap-0 lg:border-none lg:bg-transparent lg:p-0 lg:opacity-100 lg:shadow-none dark:shadow-none"
					>
						<div class="w-full text-gray-600 lg:w-full lg:pr-4 lg:pt-0">
							<ul
								class="flex flex-col items-center justify-end gap-6 tracking-wide lg:flex-row lg:gap-0 lg:text-base"
							>
								<li>
									<a
										href=""
										class="block font-GilroySemibold text-base text-black transition hover:text-black md:px-4"
									>
										<span>{t("nav.about")}</span>
									</a>
								</li>
								<li>
									<a
										href=""
										class="block font-GilroySemibold text-base text-black transition hover:text-black md:px-4"
									>
										<span>{t("nav.projects")}</span>
									</a>
								</li>
								<li>
									<a
										href=""
										class="block font-GilroySemibold text-base text-black transition hover:text-black md:px-4"
									>
										<span>{t("nav.skills")}</span>
									</a>
								</li>
								<li>
									<a
										href=""
										class="block font-GilroySemibold text-base text-black transition hover:text-black md:px-4"
									>
										<span>{t("nav.contact")}</span>
									</a>
								</li>
								<li>
									<LangSelector />
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</Container>
	</nav>

	<style>
		#toggle_nav:checked ~ div #hamburger #line {
			@apply translate-y-1.5 rotate-45;
		}

		#toggle_nav:checked ~ div #hamburger #line2 {
			@apply -translate-y-1 -rotate-45;
		}

		.toggled div:first-child {
			@apply translate-y-1.5 rotate-45;
		}
		.toggled div:last-child {
			@apply -translate-y-1 -rotate-45;
		}
	</style>
</header>
