---
import Container from "./Container.astro"
---

<Container>
	<section class="flex flex-col items-center justify-center pt-28 lg:flex-row lg:pt-32">
		<div class="size-full flex-1 pr-4 font-GilroyBold">
			<span
				class="bg-gradient-to-r from-blue-500 to-red-500 bg-clip-text text-4xl text-transparent lg:text-7xl"
				>I design products</span
			>
			<p class="text-balance text-3xl lg:text-5xl">
				that capture the imagination and elevate people's experience.
			</p>
			<p class="pt-4 font-GilroyRegular text-base text-neutral-500 lg:text-xl">
				Hello! I'm Fabian Herrera, a software developer based in Mexico. I specialize in creating
				intuitive interfaces for growing startups and a variety of clients.
			</p>
		</div>
		<div class="h-auto w-96 grayscale lg:w-[500px]">
			<img src="/me.png" alt="Fabian Herrera photo" />
		</div>
	</section>
</Container>
