<div class="prose max-w-full">
	<p class="font-GilroyRegular text-white">
		Cuando no estoy inmerso en el mundo del desarrollo, disfruto dedicar tiempo a actividades que
		alimentan mi creatividad y me mantienen inspirado. Me encanta
		<strong class="font-GilroyBold text-white">Leer</strong>,
		<strong class="font-GilroyBold text-white">Cocinar</strong>,
		<strong class="font-GilroyBold text-white">Tocar violín</strong>,
		<strong class="font-GilroyBold text-white">Jardinería</strong>,
		<strong class="font-GilroyBold text-white">Explorar la naturaleza</strong>, y sobre todo
		disfruto también del
		<strong class="font-GilroyBold text-white">Pasar tiempo con mi familia y amigos</strong>. Estas
		actividades no solo me ayudan a desconectar por un tiempo, sino que también me retan a pensar de
		manera diferente, lo que muchas veces se traduce en soluciones más creativas y eficaces en mi
		trabajo como desarrollador.
	</p>
	<p class="font-GilroyRegular text-white">
		Para mí, los hobbies son más que simples pasatiempos; son una forma de nutrir mi curiosidad,
		mantenerme motivado y encontrar equilibrio. Creo firmemente que lo que hacemos fuera del teclado
		tiene un impacto directo en nuestra perspectiva y creatividad cuando estamos frente a él. ¡Es un
		círculo perfecto de aprendizaje e inspiración!
	</p>
</div>
