<section class='flex flex-col items-center justify-center gap-y-4 pt-20'>
	<h2 class='font-GilroyBold text-5xl font-bold'>"La inspiración desbloquea el futuro"</h2>
	<span class='font-GilroySemibold text-2xl text-neutral-500'>Who I Am?</span>
	<p class='max-w-[42rem] font-GilroyRegular text-lg'>
		Ingeniero de Software egresado de la Universidad Tecnológica del Norte de Aguascalientes con más
		de 3 años de experiencia como desarrollador.
	</p>
	<p class='max-w-[42rem] font-GilroyRegular text-lg'>
		Empecé a los 13 años a relacionarme más con el mundo de la programación creando mis primeros
		programas en
		<span
			class='has-tooltip relative cursor-crosshair rounded-lg bg-[#ff5e69] px-1.5 py-0.5 font-GilroySemibold'
			>C++.
			<span
				class='tooltip absolute -top-9 left-0 rounded-lg bg-[#ff5e69]/50 px-1.5 py-0.5 font-GilroySemibold backdrop-blur-sm'
			>
				hola
			</span>
		</span>
		Luego de un tiempo comencé a involucrarme más en el aprendizaje del <span
			class='has-tooltip relative cursor-crosshair rounded-lg bg-[#b16cea] px-1.5 py-0.5 font-GilroySemibold'
			>Desarrollo Web<span
				class='tooltip absolute left-8 top-8 rounded-lg bg-[#b16cea]/50 px-1.5 py-0.5 font-GilroySemibold backdrop-blur-sm'
			>
				hola
			</span></span
		> y
		<span
			class='has-tooltip relative cursor-crosshair rounded-lg bg-[#ffa84b] px-1.5 py-0.5 font-GilroySemibold'
			>UI/UX.
			<span
				class='tooltip absolute -top-9 left-0 rounded-lg bg-[#ffa84b]/50 px-1.5 py-0.5 font-GilroySemibold backdrop-blur-sm'
			>
				hola
			</span>
		</span>
	</p>
	<p class='max-w-[42rem] font-GilroyRegular text-lg'>
		Me encanta el viajar y especialmente estar cercas de la naturaleza y conocer más sobre ella.
		Actualmente estoy enfocado en crecer, aprender y crear mi startup de desarrollo de software
		junto con varios colegas y así seguir compartiendo nuestro conocimiento.
	</p>
</section>
