<section
	class='relative flex flex-col items-center justify-center gap-y-4 pt-20'
	id='about-me'
>
	<h2 class='text-center font-GilroyBold text-2xl font-bold lg:text-5xl'>
		"La inspiración desbloquea el futuro"
	</h2>
	<span class='font-GilroySemibold text-lg text-neutral-500 lg:text-2xl'>Who I Am?</span>
	<p class='max-w-[42rem] text-pretty font-GilroyRegular text-lg'>
		Ingeniero de Software egresado de la Universidad Tecnológica del Norte de Aguascalientes con más
		de 3 años de experiencia como desarrollador.
	</p>
	<p class='max-w-[42rem] text-pretty font-GilroyRegular text-lg'>
		Empecé a los 13 años a relacionarme más con el mundo de la programación creando mis primeros
		programas en C++. Luego de un tiempo comencé a involucrarme más en el aprendizaje del <span
			class='has-tooltip relative cursor-crosshair rounded-lg bg-[#ff5e69] px-1.5 py-0.5 font-GilroySemibold select-none'
			>Desarrollo Web<span
				class='tooltip absolute -top-[90px] left-0 z-10 w-48 rounded-lg bg-[#ff5e69]/50 px-1.5 py-0.5 font-GilroySemibold text-sm backdrop-blur-sm'
			>
				HTML | CSS | JS | TS | ReactJS | NextJS | NodeJS | API REST | MongoDB | MySQL
			</span></span
		>,
		<span
			class='has-tooltip relative cursor-crosshair rounded-lg bg-[#b16cea] px-1.5 py-0.5 font-GilroySemibold select-none'
			>UI/UX<span
				class='tooltip absolute -left-32 -top-[110px] w-48 rounded-lg bg-[#b16cea]/50 px-1.5 py-0.5 font-GilroySemibold text-sm backdrop-blur-sm'
			>
				Figma | Adobe Photoshop | Adobe Illustrator | Responsive Design | Wirerframes | Web
				Accesibility
			</span>
		</span>
		&nbsp;y claro, también el desarrollo de <span
			class='has-tooltip relative cursor-crosshair rounded-lg bg-[#ffa84b] px-1.5 py-0.5 font-GilroySemibold select-none'
			>Aplicaciones Móviles.
			<span
				class='tooltip absolute left-0 top-8 w-48 text-pretty rounded-lg bg-[#ffa84b]/50 px-1.5 py-0.5 font-GilroySemibold text-sm backdrop-blur-sm'
			>
				Android | iOS | React Native | Cordova | JS & TS
			</span>
		</span>
	</p>
	<p class='max-w-[42rem] text-pretty font-GilroyRegular text-lg'>
		Me encanta el viajar y especialmente estar cercas de la naturaleza y conocer más sobre ella.
		Actualmente estoy enfocado en crecer, aprender y crear mi startup de desarrollo de software
		junto con varios colegas y así seguir compartiendo nuestro conocimiento.
	</p>
	<div
		class='pointer-events-none absolute -inset-x-2.5 -bottom-2.5 h-[16.6%] w-full select-none overflow-hidden bg-gradient-to-t from-white from-10% via-white/50 via-30% to-transparent to-90% sm:h-[44.4%]'
	>
	</div>
	<div>
		<a
			href='/about-me'
			class='group relative inline-flex h-12 items-center justify-center overflow-hidden rounded-md bg-neutral-950 px-6 font-medium text-neutral-200'
			><span class='font-GilroySemibold select-none'>Ver resumen completo</span>
			<div class='ml-1 transition group-hover:translate-x-1'>
				<svg
					width='15'
					height='15'
					viewBox='0 0 15 15'
					fill='none'
					xmlns='http://www.w3.org/2000/svg'
					class='h-5 w-5'
				>
					<path
						d='M8.14645 3.14645C8.34171 2.95118 8.65829 2.95118 8.85355 3.14645L12.8536 7.14645C13.0488 7.34171 13.0488 7.65829 12.8536 7.85355L8.85355 11.8536C8.65829 12.0488 8.34171 12.0488 8.14645 11.8536C7.95118 11.6583 7.95118 11.3417 8.14645 11.1464L11.2929 8H2.5C2.22386 8 2 7.77614 2 7.5C2 7.22386 2.22386 7 2.5 7H11.2929L8.14645 3.85355C7.95118 3.65829 7.95118 3.34171 8.14645 3.14645Z'
						fill='currentColor'
						fill-rule='evenodd'
						clip-rule='evenodd'
					>
					</path>
				</svg>
			</div>
		</a>
	</div>
</section>
