---
import DropdownArrow from '@/components/icons/DropdownArrow.astro'
import { LANGUAGES } from '@/i18n/ui'
import { getLangFromUrl, getRouteFromUrl, useTranslatedPath } from '@/i18n/utils'

const route = getRouteFromUrl(Astro.url)
const lang = getLangFromUrl(Astro.url)
const translatePath = useTranslatedPath(lang)

const currentLocaleData = LANGUAGES[lang]
const otherLocales = Object.values(LANGUAGES).filter((locale) => locale.code !== lang)
---

<div class='group relative z-[9999] inline-block text-left font-display text-xs text-white'>
	<button
		type='button'
		class='inline-flex w-full items-center justify-start gap-x-2 rounded-md bg-black px-3 py-2 transition-all group-hover:bg-black/70'
		aria-expanded='true'
		aria-haspopup='true'
	>
		<currentLocaleData.flag />
		{currentLocaleData.name}
		<DropdownArrow />
	</button>
	<div class='absolute left-0 top-full hidden w-full pt-1 group-hover:block z-[9999]'>
		<ul class='flex flex-col gap-1 rounded-md bg-black p-1 shadow-xl'>
			{
				otherLocales.map((locale) => (
					<li>
						<a
							class='inline-flex w-full items-center justify-start gap-x-2 rounded-sm px-2 py-1.5 transition-colors hover:bg-white/20 whitespace-nowrap'
							href={translatePath(`/${route || ''}`, locale.code)}
						>
							<locale.flag />
							{locale.name}
						</a>
					</li>
				))
			}
		</ul>
	</div>
</div>
