---
import Arrow from '@/components/icons/Arrow.astro'
import { sanitizeHtml } from '@/helpers/satinizeHTML'
import { getI18N } from '@/i18n'

const { currentLocale } = Astro
const i18n = getI18N({ currentLocale })
---

<div class='py-4 md:py-0'>
	<a href='https://utna.edu.mx' target='_blank' rel='noopener noreferrer'>
		<div class='group relative overflow-hidden transition-all duration-300 md:p-4'>
			<div class='mb-2 flex items-center justify-between px-4 md:px-0'>
				<h3
					class='w-full pr-2 font-GilroyBold text-lg font-bold text-black transition-colors md:text-3xl'
				>
					{i18n.hero.bento.education.career}
				</h3>
				<Arrow
					class:list='h-6 w-6 flex-shrink-0 transition-all duration-300 group-hover:-translate-y-1 group-hover:translate-x-1'
					styles='text-black'
				/>
			</div>
			<time class='mb-4 px-4 font-GilroySemibold text-neutral-500 md:px-0'
				>{i18n.hero.bento.education.location} | {i18n.hero.bento.education.duration}</time
			>
		</div>
	</a>
	<p
		class='text-pretty px-4 pt-4 font-GilroyRegular text-lg text-neutral-800'
		set:html={sanitizeHtml(i18n.hero.bento.education.description)}
	/>
</div>
