---
import Arrow from '@/components/icons/Arrow.astro'
---

<div class='py-4 md:py-0'>
	<a href='https://utna.edu.mx' target='_blank' rel='noopener noreferrer'>
		<div class='group relative overflow-hidden transition-all duration-300 md:p-4'>
			<div class='mb-2 flex items-center justify-between px-4 md:px-0'>
				<h3
					class='w-full pr-2 font-GilroyBold text-lg font-bold text-black transition-colors md:text-3xl'
				>
					Ingeniería en Desarrollo y Gestión de Software
				</h3>
				<Arrow
					class:list='h-6 w-6 flex-shrink-0 transition-all duration-300 group-hover:-translate-y-1 group-hover:translate-x-1'
					styles='text-black'
				/>
			</div>
			<time class='mb-4 px-4 font-GilroySemibold text-neutral-500 md:px-0'
				>Rincón de Romos, AGS | Septiembre 2019 - Abril 2025</time
			>
		</div>
	</a>
	<p class='text-pretty px-4 pt-4 font-GilroyRegular text-lg text-neutral-800'>
		Egresado de la
		<a
			href='https://utna.edu.mx/utna'
			target='_blank'
			rel='noopener noreferrer'
			class='font-GilroyBold font-bold text-black underline'
			>Universidad Tecnológica del Norte de Aguascalientes (UTNA)
		</a>, donde fortalecí mis habilidades en desarrollo de software y amplié mis conocimientos en
		áreas clave como
		<strong class='font-GilroyBold font-bold text-black'>algoritmos</strong>,
		<strong class='font-GilroyBold font-bold text-black'>estructuras de datos</strong>,
		<strong class='font-GilroyBold font-bold text-black'>programación orientada a objetos</strong>,
		<strong class='font-GilroyBold font-bold text-black'>manejo de bases de datos</strong>, etc. Mi
		formación me permitió integrar teoría y práctica para abordar proyectos tecnológicos con enfoque
		innovador y eficiente.
	</p>
</div>
