@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	@font-face {
		font-family: GilroyRegular;
		src: url(/fonts/Gilroy-Regular.woff2) format("woff2");
	}

  @font-face {
		font-family: GilroySemibold;
		src: url(/fonts/Gilroy-SemiBold.woff2) format("woff2");
	}

	@font-face {
		font-family: GilroyBold;
		src: url(/fonts/Gilroy-Bold.woff2) format("woff2");
	}
}