---
import { Image } from 'astro:assets'
interface Props {
	text: string
	image: string
}

const { text, image } = Astro.props
---

<span
	class='font-display inline-flex items-center justify-center space-x-2 rounded-full border border-neutral-200 bg-white px-3 py-1.5 text-xs whitespace-nowrap select-none'
>
	<Image
		src={image}
		alt={text}
		class='mr-2 inline-block size-4'
		width={16}
		height={16}
		loading='lazy'
	/>
	{text}
</span>
